.centeredForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredFormBox {
  box-shadow: 3px 4px 7px 5px #33333326;
  background: white;
  border-radius: 14px;
  padding: 24px;
  width: 250px;
}

.centeredForm button {
  width: 100%;
}

.centeredForm input {
  margin-bottom: 16px;
  width: 100%;
}